{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="page-main" style="background-image: url( {% static 'images\images\1669002750T5q5oQAC6yrm7mrD.jpg' %});">
    <div class="container">
      <div class="for-title">
        <h2 class="title fs-xl-40 fs-md-30 fs-24 fw-bold">
       Қонақ үй жалдау
        </h2>
        
      </div>
    </div>
  </section>   

<style>


/* line 192, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_course.scss */
.admission_area .admission_form h3 {
  font-family: "Abril Fatface", cursive;
  color: #fff;
  font-size: 55px;
  margin-bottom: 40px;
}

/* line 199, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_course.scss */
.admission_area .admission_form .single_input input, .admission_area .admission_form .single_input textarea {
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #7b7e8d;
  padding-bottom: 15px;
  margin-bottom: 40px;
}

/* line 209, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_course.scss */
.admission_area .admission_form .single_input input::placeholder, .admission_area .admission_form .single_input textarea::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

/* line 214, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_course.scss */
.admission_area .admission_form .single_input input:focus, .admission_area .admission_form .single_input textarea:focus {
  outline: none;
}

/* line 218, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_course.scss */
.admission_area .admission_form .single_input textarea {
  height: 110px;
}

/*=================== contact banner start ====================*/
/* line 3, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_contact.scss */
.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 10, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_contact.scss */
.contact-info {
  margin-bottom: 25px;
}

/* line 13, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_contact.scss */
.contact-info__icon {
  margin-right: 20px;
}

/* line 16, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_contact.scss */
.contact-info__icon i, .contact-info__icon span {
  color: #8f9195;
  font-size: 27px;
}

/* line 24, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_contact.scss */
.contact-info .media-body h3 {
  font-size: 16px;
  margin-bottom: 0;
  font-size: 16px;
  color: #2a2a2a;
}

/* line 30, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_contact.scss */
.contact-info .media-body h3 a:hover {
  color: #ff5e13;
}

/* line 36, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_contact.scss */
.contact-info .media-body p {
  color: #8a8a8a;
}

/*=================== contact banner end ====================*/
/*=================== contact form start ====================*/
/* line 45, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_contact.scss */
.contact-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* line 53, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_contact.scss */
.form-contact label {
  font-size: 14px;
}

/* line 57, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_contact.scss */
.form-contact .form-group {
  margin-bottom: 30px;
}

/* line 61, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_contact.scss */
.form-contact .form-control {
  border: 1px solid #e5e6e9;
  border-radius: 0px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
}

/* line 69, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_contact.scss */
.form-contact .form-control:focus {
  outline: 0;
  box-shadow: none;
}

/* line 74, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_contact.scss */
.form-contact .form-control::placeholder {
  font-weight: 300;
  color: #999999;
}

/* line 80, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_contact.scss */
.form-contact textarea {
  border-radius: 0px;
  height: 100% !important;
}

.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}
.form-select {
  height: 40px;
  width: 100%;
}

/* line 1045, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_elements.scss */
.form-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #f9f9ff;
  padding-left: 45px;
  padding-right: 40px;
  width: 100%;
}

/* line 1053, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_elements.scss */
.form-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px;
}
.boxed-btn2 {
  background:#2b4f7e ;
  color: #ffffff;
  display: inline-block;
  padding: 18px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #1b1747;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* line 166, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_btn.scss */
.boxed-btn2:hover {
  background: #da6f6f;
  color: #131313 !important;
}

/* line 170, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_btn.scss */
.boxed-btn2:focus {
  outline: none;
}    

</style>


  <section class="country-inner">
    <div class="admission_inner">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-7">
                    <div class="admission_form">
                        
                        <h3>Қонақ үйден бөлмені дәл қазір жалдаңыз!!!</h3>

                       <form action="{% url 'home' %}">
                            <div class="form-group">
                                      <input type="text" name = "name" class="single-input" placeholder="Атыңыз">
                                  </div>
                           <br>
                            <div class="form-group">
                                      <input type="text" name = "number" class="single-input" placeholder="Телефон номеріңіз">
                                  </div>

                           <br>
                            <div class="row">
                                 <div class="col-xl-6">
                                    <input type="date" name = "date_in" class="single-input" placeholder="Келетін күніңіз">
                                </div>
                                <div class="col-xl-6">
                                    <input type="date" name = "date_out" class="single-input" placeholder="Кететін күніңіз">
                                </div>
                                <br>
                                <br><br>
                                <div class="col-xl-6">
                                    <label for=""> Ересек адамдар саны </label>
                                    <select class="form-select wide" name = "adult" id="default-select" class="">
                                        <option data-display="Ересек адамдар саны" value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                                <br><br>
                                <br><br>
                                <div class="col-xl-6">
                                    <label for=""> Жас балалар саны </label>
                                    <select class="form-select wide" name = "child" id="default-select" class="">
                                        <option data-display="Жас балалар саны" value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                                <br><br>
                                <div class="col-xl-12">
                                    <label for=""> Cіз таңдаған қонақ үй </label>
                                    <br>
                                    <select class="form-select wide" name = "hotel" id="default-select" class="">
                                        <option data-display="Жас балалар саны" value="{{ name_objects }}">{{ name_objects }}</option>
                                    </select>
                                    <br> 
                                    <div class="form-group">
                                      <input class="single-input" type="text" name="cardholder-name" placeholder="Карта иесінің есімі">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                      <input class="single-input" type="text" name="card-number" placeholder="Карта номері">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                      <input class="single-input" type="month" name="expiration-date" placeholder="Жарамдылық мерзімі">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                      <input class="single-input" type="password" name="cvc" placeholder="CVC код">
                                    </div>
                            <br>
                                
                                </div>
                                 
                                
                                <br><br>
                                <br><br>
                                <br><br>
                                <br><br>
                                <div class="col-xl-12">

                                    <button   onclick="myFunction()"  type="submit" class="boxed-btn2">  Тіркелу  </button>
                                    <script>
                                        function myFunction() {
                                           alert("сіз сәтті түрде тіркелдіңіз")
                                                    }
                                              </script>
                                    <a href="{% url 'home' %}">
                                    <button   class="boxed-btn2">Бастапқы бетке өту</button>
                                        </a>
                                </div>

                                
                            </div>
                        </form>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br><br>
{% endblock %}